 <div class='row'>
  <% unless user == current_user %>
   <% if user.is_followed_by?(current_user) %>
    <%= link_to "フォロー解除" ,user_relationships_path(user), method: :delete, class: "btn btn-primary" %>
   <% else %>
    <%= link_to "フォローする", user_relationships_path(user), method: :post, class: "btn btn-success" %>
   <% end %>
  <% end %>
 </div>